# Assignment Number 4: Pandas

The purpose of this assignment is to get you comfortable using pandas for normal tasks that you would have to do in excel. We will be using the FX_DERIVATIVES_ALL database and looking at the FX options data.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
# load up the static forward data from the FX_DERIVATIVES_ALL database
df= pd.read_excel('../data/FX_DERIVATIVES_ALL.xlsx', sheet_name='FX_options_static')

#### I do not like the capitalization of these columns, so I am going to rename these columns without the capital letters. (Except for ID because this is a common abbreviation.)
There are several ways to rename the columns. The first is a simple dictionary approach using the rename() method of a dataframe that you will most likely use very often.

###### NOTE: If you are getting data from tableau, you will most likely be using .rename() very often. 
We should not have blank spaces in column names. (Very Strong Preference, but not a hard requirement. Much like making sure your fly is up. It does not have to be, but people will disappointed if you always have yours down.)

In [5]:
df = df.rename(columns = {'Entity': 'entity',
                         'Counterparty': 'counterparty',
                         'Currency_Pair': 'currency_pair',
                         'Buy_Currency': 'buy_currency',
                         'Sell_Currency': 'sell_currency',
                         'Trade_Date': 'trade_date',
                         'Expiry_Date': 'expiry_date',
                         'Contract_Rate': 'contract_rate',
                         'Buy_Amount': 'buy_amount',
                         'Sell_Amount': 'sell_amount',
                         'Premium': 'premium',
                         'Sold_to_Rev': 'sold_to_rev',
                         'Sold_to_PL': 'sold_to_PL',
                         'Sold_Date': 'sold_date'})

In [6]:
df.head(10)

,ID,entity,counterparty,currency_pair,buy_currency,sell_currency,trade_date,expiry_date,contract_rate,buy_amount,sell_amount,premium,sold_to_rev,sold_to_PL,sold_date
0,ADIR3601,ADIR,GS,EURUSD,USD,EUR,2012-05-08,2012-10-29,1.3035,13035000.0,-10000000,408600.0,66087.0,0.0,00:00:00
1,ADIR3636,ADIR,JPM,GBPUSD,USD,GBP,2012-05-29,2012-10-30,1.5610,7805000.0,-5000000,189500.0,0.0,0.0,00:00:00
2,ADIR3602,ADIR,GS,USDJPY,USD,JPY,2012-05-08,2012-11-02,79.6500,12554928.0,-1000000000,340500.0,75900.0,0.0,00:00:00
3,ADIR3617,ADIR,UBS,EURUSD,USD,EUR,2012-05-15,2012-11-07,1.2785,12785000.0,-10000000,443500.0,0.0,22700.0,00:00:00
4,ADIR3623,ADIR,UBS,EURUSD,USD,EUR,2012-05-23,2012-11-14,1.2590,12590000.0,-10000000,466000.0,0.0,7554.0,00:00:00
5,ADIR3637,ADIR,CITI,USDJPY,USD,JPY,2012-05-29,2012-11-14,79.3000,12610340.0,-1000000000,339000.0,82800.0,0.0,00:00:00
6,ADIR3638,ADIR,JPM,EURUSD,USD,EUR,2012-05-29,2012-11-21,1.2500,12500000.0,-10000000,456000.0,0.0,7000.0,00:00:00
7,ADIR3624,ADIR,UBS,EURUSD,USD,EUR,2012-05-23,2012-12-07,1.2600,12600000.0,-10000000,501000.0,0.0,0.0,00:00:00
8,ADIR3625,ADIR,CITI,USDJPY,USD,JPY,2012-05-23,2012-12-11,79.2500,12618297.0,-1000000000,391000.0,473000.0,0.0,00:00:00
9,ADIR3639,ADIR,UBS,GBPUSD,USD,GBP,2012-05-29,2012-12-13,1.5610,7805000.0,-5000000,220000.0,0.0,0.0,00:00:00

The second approach is to make all of the columns (except ID) lowercase would be to iterate over the columns using the columns attribute of a dataframe. Let's reload the dataframe again (to undo the df.rename method we did above and try the other approach.)

In [7]:
# load up the static forward data from the FX_DERIVATIVES_ALL database
df= pd.read_excel('../data/FX_DERIVATIVES_ALL.xlsx', sheet_name='FX_options_static')

In [8]:
# extracting column names
list_cols = df.columns
list_cols

Index(['ID', 'Entity', 'Counterparty', 'Currency_Pair', 'Buy_Currency',
       'Sell_Currency', 'Trade_Date', 'Expiry_Date', 'Contract_Rate',
       'Buy_Amount', 'Sell_Amount', 'Premium', 'Sold_to_Rev', 'Sold_to_PL',
       'Sold_Date'],
      dtype='object')

Notice that our variable list_cols is an Index and not a list! This is because pandas knows the columns are an index into the dataframe. We need to change this to be a list using the list() constructor.

In [9]:
list_cols = list(list_cols)
list_cols

['ID',
 'Entity',
 'Counterparty',
 'Currency_Pair',
 'Buy_Currency',
 'Sell_Currency',
 'Trade_Date',
 'Expiry_Date',
 'Contract_Rate',
 'Buy_Amount',
 'Sell_Amount',
 'Premium',
 'Sold_to_Rev',
 'Sold_to_PL',
 'Sold_Date']

In [10]:
# convert the column names to be lower case for all columns EXCEPT 'ID'
for i, item in enumerate(list_cols):
    print(i, item)
    if item != 'ID':
        lower_case = item.lower()
        list_cols[i] = lower_case
list_cols

0 ID
1 Entity
2 Counterparty
3 Currency_Pair
4 Buy_Currency
5 Sell_Currency
6 Trade_Date
7 Expiry_Date
8 Contract_Rate
9 Buy_Amount
10 Sell_Amount
11 Premium
12 Sold_to_Rev
13 Sold_to_PL
14 Sold_Date

['ID',
 'entity',
 'counterparty',
 'currency_pair',
 'buy_currency',
 'sell_currency',
 'trade_date',
 'expiry_date',
 'contract_rate',
 'buy_amount',
 'sell_amount',
 'premium',
 'sold_to_rev',
 'sold_to_pl',
 'sold_date']

In [11]:
# reassigning the columns of the dataframe to be the lower case list of column names.
df.columns = list_cols

In [12]:
df.head()

,ID,entity,counterparty,currency_pair,buy_currency,sell_currency,trade_date,expiry_date,contract_rate,buy_amount,sell_amount,premium,sold_to_rev,sold_to_pl,sold_date
0,ADIR3601,ADIR,GS,EURUSD,USD,EUR,2012-05-08,2012-10-29,1.3035,13035000.0,-10000000,408600.0,66087.0,0.0,00:00:00
1,ADIR3636,ADIR,JPM,GBPUSD,USD,GBP,2012-05-29,2012-10-30,1.5610,7805000.0,-5000000,189500.0,0.0,0.0,00:00:00
2,ADIR3602,ADIR,GS,USDJPY,USD,JPY,2012-05-08,2012-11-02,79.6500,12554928.0,-1000000000,340500.0,75900.0,0.0,00:00:00
3,ADIR3617,ADIR,UBS,EURUSD,USD,EUR,2012-05-15,2012-11-07,1.2785,12785000.0,-10000000,443500.0,0.0,22700.0,00:00:00
4,ADIR3623,ADIR,UBS,EURUSD,USD,EUR,2012-05-23,2012-11-14,1.2590,12590000.0,-10000000,466000.0,0.0,7554.0,00:00:00

##### So either approach will work.

I tend to use the pd.rename method most often, but being able to reassign column names with df.columns is also very convenient.

So let's look at the data

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             792 non-null    object
 1   entity         792 non-null    object
 2   counterparty   792 non-null    object
 3   currency_pair  792 non-null    object
 4   buy_currency   791 non-null    object
 5   sell_currency  792 non-null    object
 6   trade_date     792 non-null    datetime64[ns]
 7   expiry_date    792 non-null    datetime64[ns]
 8   contract_rate  792 non-null    float64
 9   buy_amount     792 non-null    float64
 10  sell_amount    792 non-null    int64
 11  premium        792 non-null    float64
 12  sold_to_rev    579 non-null    float64
 13  sold_to_pl     293 non-null    float64
 14  sold_date      740 non-null    object
dtypes: datetime64[ns](2), float64(5), int64(1), object(7)
memory usage: 92.9+ KB

## Task 1: Drop the sold_to_rev, sold_to_pl and sold_date information from the dataframe.

In [14]:
df2 = df.drop(['sold_to_rev', 'sold_to_pl', 'sold_date'], axis=1)
#df2 = df.drop(['sold_to_rev','sold_to_pl','sold_date'], axis=1, inplace=True)
#df2
df2

,ID,entity,counterparty,currency_pair,buy_currency,sell_currency,trade_date,expiry_date,contract_rate,buy_amount,sell_amount,premium
0,ADIR3601,ADIR,GS,EURUSD,USD,EUR,2012-05-08,2012-10-29,1.3035,13035000.00,-10000000,408600.00
1,ADIR3636,ADIR,JPM,GBPUSD,USD,GBP,2012-05-29,2012-10-30,1.5610,7805000.00,-5000000,189500.00
2,ADIR3602,ADIR,GS,USDJPY,USD,JPY,2012-05-08,2012-11-02,79.6500,12554928.00,-1000000000,340500.00
3,ADIR3617,ADIR,UBS,EURUSD,USD,EUR,2012-05-15,2012-11-07,1.2785,12785000.00,-10000000,443500.00
4,ADIR3623,ADIR,UBS,EURUSD,USD,EUR,2012-05-23,2012-11-14,1.2590,12590000.00,-10000000,466000.00
...,...,...,...,...,...,...,...,...,...,...,...,...
787,ADIR8250,ADIR,SG,EURUSD,USD,EUR,2020-09-08,2021-04-08,1.1855,28452000.00,-24000000,641245.47
788,ADIR8251,ADIR,BOA,USDJPY,USD,JPY,2020-09-08,2021-04-08,105.5500,30317385.13,-3200000000,733112.00
789,ADIR8264,ADIR,BOA,AUDUSD,USD,AUD,2020-09-15,2021-04-15,0.7301,12411700.00,-17000000,399714.00
790,ADIR8265,ADIR,BOA,EURUSD,USD,EUR,2020-09-15,2021-04-15,1.1906,19049600.00,-16000000,429841.00
791,ADIR8266,ADIR,SG,GBPUSD,USD,GBP,2020-09-15,2021-04-15,1.2870,21879000.00,-17000000,752846.87

## Task 2: Change the sell_amount datatype to be a float64.

In [15]:
df['sell_amount'] = df['sell_amount'].astype(float)

In [16]:
#df['sell_amount']
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             792 non-null    object
 1   entity         792 non-null    object
 2   counterparty   792 non-null    object
 3   currency_pair  792 non-null    object
 4   buy_currency   791 non-null    object
 5   sell_currency  792 non-null    object
 6   trade_date     792 non-null    datetime64[ns]
 7   expiry_date    792 non-null    datetime64[ns]
 8   contract_rate  792 non-null    float64
 9   buy_amount     792 non-null    float64
 10  sell_amount    792 non-null    float64
 11  premium        792 non-null    float64
 12  sold_to_rev    579 non-null    float64
 13  sold_to_pl     293 non-null    float64
 14  sold_date      740 non-null    object
dtypes: datetime64[ns](2), float64(6), object(7)
memory usage: 92.9+ KB

## Task 3: There is a typo in one of the non-numeric columns. Find it and change it! 
It is best to use df.replace(). This can be done on the entire dataframe if the string you are replacing will only be in the dataframe once. If you need to replace only in one column, then call the replace function on the correct column.

In [17]:
df['buy_currency'].value_counts(dropna=False)

USD    791
NaN      1
Name: buy_currency, dtype: int64

In [18]:
df = df.replace(float('NaN'), 'USD')
#df = df.replace(float('NaN'), 'USD')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             792 non-null    object
 1   entity         792 non-null    object
 2   counterparty   792 non-null    object
 3   currency_pair  792 non-null    object
 4   buy_currency   792 non-null    object
 5   sell_currency  792 non-null    object
 6   trade_date     792 non-null    datetime64[ns]
 7   expiry_date    792 non-null    datetime64[ns]
 8   contract_rate  792 non-null    float64
 9   buy_amount     792 non-null    float64
 10  sell_amount    792 non-null    float64
 11  premium        792 non-null    float64
 12  sold_to_rev    792 non-null    object
 13  sold_to_pl     792 non-null    object
 14  sold_date      792 non-null    object
dtypes: datetime64[ns](2), float64(4), object(9)
memory usage: 92.9+ KB

## Task 4: Recreate the following commonly used excel functions in pandas

#### 4.1 Sum of the 'buy_amounts' for the entire dataframe.

In [20]:
buy_total = df['buy_amount'].sum()
buy_total

11337612207.09106

#### 4.2 Maximum buy_amount

In [21]:
buy_max = df['buy_amount'].max()
buy_max

49387500.0

In [22]:
df.describe()

       contract_rate    buy_amount   sell_amount       premium
count     792.000000  7.920000e+02  7.920000e+02  7.920000e+02
mean       31.730951  1.431517e+07 -3.677992e+08  3.446814e+05
std        47.819945  7.451219e+06  6.009637e+08  1.445433e+05
min         0.645000  6.040000e+06 -3.200000e+09  1.227600e+05
25%         1.171000  9.136175e+06 -1.000000e+09  2.353750e+05
50%         1.311950  1.251250e+07 -1.500000e+07  3.257500e+05
75%        98.025000  1.785059e+07 -1.000000e+07  4.086375e+05
max       124.600000  4.938750e+07 -4.000000e+06  1.169804e+06

#### 4.3 Minimum buy_amount

In [23]:
buy_min = df['buy_amount'].min()
buy_min

6040000.0

#### 4.4 Find the currency for ADIR7445 and set it equal to a variable

In [24]:
#this_contract = ['ADIR7445']
#this_contract
#df.loc['this_contract']

#adir7445 = df['ID']=='ADIR7445'
#adir7445

df.loc[df['ID'] == 'ADIR7440']

,ID,entity,counterparty,currency_pair,buy_currency,sell_currency,trade_date,expiry_date,contract_rate,buy_amount,sell_amount,premium,sold_to_rev,sold_to_pl,sold_date
677,ADIR7440,ADIR,BOA,USDJPY,USD,JPY,2019-08-20,2020-03-12,104.91,19063960.0,-2.000000e+09,419313.0,0,USD,00:00:00

In [25]:
adir7440 = df.loc[df['ID'] == 'ADIR7440', 'buy_currency']
adir7440

677    USD
Name: buy_currency, dtype: object

#### 4.5 Find the sum of the buy amount for GBP transactions

In [26]:
df.loc[df['sell_currency'] == 'GBP', 'buy_amount'].sum()

2311272300.0

#### 4.6 How many EUR options are in the dataset? How about GBP? And JPY?

In [27]:
#df['sell_currency'].valuecounts(dropna=False)

df['sell_currency'].value_counts(dropna=False)

EUR    334
JPY    231
GBP    215
AUD     12
Name: sell_currency, dtype: int64

## Task 4: Create 3 separate dataframes using a boolean mask.

- df_EUR: containing all of the EUR transactions
- df_GBP: containing all of the GBP transactions
- df_JPY: containing all of the JPY transactions

In [28]:
mask_EUR = df['sell_currency']=='EUR'
mask_EUR

df_EUR = df[mask_EUR]
df_EUR

,ID,entity,counterparty,currency_pair,buy_currency,sell_currency,trade_date,expiry_date,contract_rate,buy_amount,sell_amount,premium,sold_to_rev,sold_to_pl,sold_date
0,ADIR3601,ADIR,GS,EURUSD,USD,EUR,2012-05-08,2012-10-29,1.3035,13035000.0,-10000000.0,408600.00,66087,0,00:00:00
3,ADIR3617,ADIR,UBS,EURUSD,USD,EUR,2012-05-15,2012-11-07,1.2785,12785000.0,-10000000.0,443500.00,0,22700,00:00:00
4,ADIR3623,ADIR,UBS,EURUSD,USD,EUR,2012-05-23,2012-11-14,1.2590,12590000.0,-10000000.0,466000.00,0,7554,00:00:00
6,ADIR3638,ADIR,JPM,EURUSD,USD,EUR,2012-05-29,2012-11-21,1.2500,12500000.0,-10000000.0,456000.00,0,7000,00:00:00
7,ADIR3624,ADIR,UBS,EURUSD,USD,EUR,2012-05-23,2012-12-07,1.2600,12600000.0,-10000000.0,501000.00,0,0,00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
778,ADIR8223,ADIR,JPM,EUEUSD,USD,EUR,2020-08-20,2021-03-11,1.1890,32103000.0,-27000000.0,754649.74,USD,USD,USD
780,ADIR8227,ADIR,WFB,EURUSD,USD,EUR,2020-08-24,2021-03-18,1.1855,21339000.0,-18000000.0,496080.00,USD,USD,USD
784,ADIR8235,ADIR,JPM,EURUSD,USD,EUR,2020-08-25,2021-03-25,1.1880,45144000.0,-38000000.0,1046136.73,USD,USD,USD
787,ADIR8250,ADIR,SG,EURUSD,USD,EUR,2020-09-08,2021-04-08,1.1855,28452000.0,-24000000.0,641245.47,USD,USD,USD
790,ADIR8265,ADIR,BOA,EURUSD,USD,EUR,2020-09-15,2021-04-15,1.1906,19049600.0,-16000000.0,429841.00,USD,USD,USD

In [29]:
df_EUR = df[df['sell_currency']=='EUR']
df_GBP = df[df['sell_currency']=='GBP']
df_JPY = df[df['sell_currency']=='JPY']

df_EUR
df_GBP
df_JPY

,ID,entity,counterparty,currency_pair,buy_currency,sell_currency,trade_date,expiry_date,contract_rate,buy_amount,sell_amount,premium,sold_to_rev,sold_to_pl,sold_date
2,ADIR3602,ADIR,GS,USDJPY,USD,JPY,2012-05-08,2012-11-02,79.65,1.255493e+07,-1.000000e+09,340500.00,75900,0,00:00:00
5,ADIR3637,ADIR,CITI,USDJPY,USD,JPY,2012-05-29,2012-11-14,79.30,1.261034e+07,-1.000000e+09,339000.00,82800,0,00:00:00
8,ADIR3625,ADIR,CITI,USDJPY,USD,JPY,2012-05-23,2012-12-11,79.25,1.261830e+07,-1.000000e+09,391000.00,473000,0,00:00:00
12,ADIR3644,ADIR,CITI,USDJPY,USD,JPY,2012-05-30,2012-12-21,78.70,1.270648e+07,-1.000000e+09,402000.00,802400,0,00:00:00
16,ADIR3657,ADIR,CITI,USDJPY,USD,JPY,2012-06-18,2013-01-11,78.88,1.267748e+07,-1.000000e+09,402000.00,1.03e+06,0,00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
773,ADIR8198,ADIR,WFB,USDJPY,USD,JPY,2020-08-11,2021-02-18,106.12,1.884659e+07,-2.000000e+09,412000.00,USD,USD,USD
777,ADIR8219,ADIR,USB,USDJPY,USD,JPY,2020-08-18,2021-02-25,105.14,2.187559e+07,-2.300000e+09,486450.00,USD,USD,USD
782,ADIR8229,ADIR,USB,USDJPY,USD,JPY,2020-08-24,2021-03-18,105.57,2.368097e+07,-2.500000e+09,541250.00,USD,USD,USD
786,ADIR8237,ADIR,SG,USDJPY,USD,JPY,2020-08-25,2021-03-25,106.22,2.165317e+07,-2.300000e+09,490920.73,USD,USD,USD
788,ADIR8251,ADIR,BOA,USDJPY,USD,JPY,2020-09-08,2021-04-08,105.55,3.031739e+07,-3.200000e+09,733112.00,USD,USD,USD

## Task 5: Determine which currency has the largest volatility of the strike rate for options in the dataset.

In [31]:
df_EUR[('contract_rate')].std()
#df_GBP[('contract_rate')].std()
#df_JPY[('contract_rate')].std()

0.08575852612636387

## Task 6: Plot a histogram of each currency's strike rates using plt.subplots.
Would prefer to see them in one row with three charts across. Make this as descriptive and clean as possible.

## Task 7: Create 2 charts using plt.subplots
Pick a currency and plot the following on two subplots that are stacked on top of one another.

Top Chart: 
 - X1 = expiry dates, Y1 = strike rate on the options for that currency
 - X2 = contract_dates, Y2 = strike rates on options for that currency (in a different color)
           
Bottom Chart: 
 - X1 = contract_dates, Y1 = premiums paid
 - X2 = expiry_dates, Y2 = notional of USD purchased
              
The bottom chart should be a bar chart. See how clean and descriptive you can make the charts. (i.e. label axes, chart title, etc.)